.navbar {
  width: 100%;
  background-color: #171717;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: -0.5rem 1rem;
  z-index: 50;
}

.navbar__logo {
  text-decoration-line: none;
  color: #f4f4f4;
  align-items: center;
  font-size: 1.4rem;
  cursor: pointer;
}

.navbar__links {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar__links > li {
  padding-left: 1.5rem;
}

.navbar__links > li > a {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.logout {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.2rem;
  display: flex;
  justify-items: right;
  align-items: center;
}

.navbar__links > li > a > span {
  display: flex;
  align-items: center;
  margin-left: 8px;
}
.logout span {
  display: flex;
  /* color: #f4f4f4; */
  justify-items: right;
  align-items: center;
  /* margin-left: 8px; */
}

.cart__link {
  justify-items: right;
  /* justify-content: space-between; */
  background: #333;
  padding: 10px;
  border-radius: 8px;
}

.cart__link:hover {
  background: #dd219e;
  color: #f4f4f4;
}

.cartlogo__badge {
  width: 30px;
  height: 30px;
  background-color: #f4f4f4;
  border-radius: 50%;
  margin-left: 8px;
  color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  padding: 10px;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: inherit;
}
.dropdown .dropbtn span {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-right: 5px;
}

.dropdown:hover .dropbtn{
  background-color: #333;
}

.dropdown-content {
  display: none;
  position: fixed;
  border-radius: 0px 0px 8px 8px;
  background-color: #f9f9f9;
  text-decoration: none;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content span {
  float: none;
  color: black;
  padding: 12px 16px; 
  font-size: 17px;
  display: block;
  text-align: left;
}

.dropdown-content span:hover {
  text-decoration: none;
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hamburger__menu {
  display: none;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.hamburger__menu:hover > div {
  background: #dd219e;
}

.hamburger__menu > div {
  width: 100%;
  height: 3px;
  background: #f4f4f4;
}

@media (max-width: 960px) {
  .navbar__links {
    display: none;
  }

  .hamburger__menu {
    display: flex;
  }
}

@media (max-width: 500px) {
  .navbar__logo h2 {
    font-size: 1rem;
  }
}
